# Windows
.vs
Release
Debug
ROMs
D-NES.*
ext/wxWidgets
src/Emulator/Emulator.vcxproj.user
src/FrontEnd/FrontEnd.vcxproj.user
*.vspx
*.psess

# Linux
D-NES
bld
config.txt
ROMs
saves
ext