# Windows
.vs
Release
Debug
ROMs
D-NES.*
src/Emulator/Emulator.vcxproj.user
src/FrontEnd/FrontEnd.vcxproj.user
*.vspx
*.psess

# Linux
D-NES
config.txt
ROMs
saves
.vscode
.sconsign.dblite
scons.cfg
**/*.o
**/*.os
**/*.a
**/*.so